body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content h2 {
    color: #333;
    margin: 0;
}

.header-content p {
    color: #007BFF;
    font-size: 18px;
    font-weight: bold;
}

.navbar {
    display: flex;
    gap: 10px;
}

.navbar button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.navbar button:hover {
    background-color: #0056b3;
}

.navbar button.active {
    background-color: #0056b3;
}

section {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(100% - 40px); /* Considering the padding from body */
    max-width: 800px; /* Maximum width of the form */
    margin-left: auto;
    margin-right: auto;
}

#passwordChangeSection, #settingsForm {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin-bottom: 1em;
}

.form-action {
    text-align: right;
}

input[type="password"], input[type="text"], input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="password"]:focus, input[type="text"]:focus, input[type="email"]:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search-container input[type="text"] {
    padding: 10px;
    margin-right: 5px; /* Added margin to separate the input from the button */
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px; /* Adjust width as needed */
}

.search-container button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-container button:hover {
    background-color: #0056b3;
}
